@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro-Regular.woff) format("woff");
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro-Light.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro-Semibold.woff) format("woff");
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.head {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 45px;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  display: block;
  width: 150px;
  position: relative;
}

.logo::after {
  content: '';
  height: 17px;
  width: 17px;
  background: #00bff2;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -6px;
}

.hide {
  display: none;
}

.lang {
  font-size: 25px;
  position: relative;
}

.lang-title {
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

.lang-tr {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid #00bff2;
  margin-left: 3px;
}

.lang-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #00bff2;
  border-radius: 3px;
  position: absolute;
  background: #fff;
}

.lang-list-item:hover {
  background: #00bff2;
  cursor: pointer;
}

form {
  width: 360px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

form .form-title {
  font-size: 41px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #000000;
}

form input {
  width: calc( 100% - 14px);
  padding: 2px 5px;
  font-size: 20px;
  background: #eeeeee;
  border: 1px solid #868383;
  outline: none;
  margin-top: 15px;
}

form input:hover {
  background: #e6e6e6;
}

form input:focus {
  background: #fff;
}

form .btn {
  margin-top: 20px;
  background: transparent;
  outline: none;
  cursor: pointer;
  border: 2px solid #00bff2;
  width: calc( 100% - 2px);
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  color: #00bff2;
}

form .btn:hover {
  background: #ccf2fc;
}

form p {
  text-align: center;
  font-size: 17px;
  color: #878383;
}

form a {
  color: #656161;
  cursor: pointer;
}

form a:hover {
  color: #00bff2;
}

.tr-active {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid #00bff2;
  margin-left: 3px;
}

footer {
  background: #f5f5f5;
}

footer .ft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

footer .ft-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 40px;
}

footer .ft-links a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

footer .ft-links a:hover {
  color: #00bff2;
}

.blocks {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.blocks .block1 {
  height: 500px;
  width: 1000px;
  background: #293140;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: -330px;
  left: 1020px;
}

.blocks .block2 {
  height: 500px;
  width: 1000px;
  background: #293140;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: absolute;
  top: 580px;
  left: 120px;
}

.btn-clck {
  background: #73dcf8;
}

.form-subtitle {
  font-size: 16px;
  margin: 0;
}

.reset-titie {
  margin: 0;
}

.inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc( 100% - 2px);
}

.input-mini {
  width: 45%;
}

.error {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #ff0000;
}

@media (max-width: 1210px) {
  .lang-title-text {
    color: #000000;
  }
}

@media (max-width: 700px) {
  .logo {
    font-size: 40px;
    width: 120px;
  }
  .logo::after {
    content: '';
    height: 15px;
    width: 15px;
    background: #00bff2;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -14px;
  }
  .lang-title {
    font-size: 20px;
  }
  .lang-list-item {
    font-size: 20px;
  }
  .lang-tr {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #00bff2;
  }
  .tr-active {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #00bff2;
  }
  .ft img {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .ft .ft-links {
    margin: 0 auto;
  }
  .ft img {
    margin: 0 auto;
  }
  form .form-title {
    font-size: 35px;
  }
}

* {
  font-family: 'MyriadPro';
}
/*# sourceMappingURL=style.css.map */