<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auctor | Reset password</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="qs1">
        <div class="q1"></div>
        <div class="q2"></div>
    </div>
    
    <div class="main-content">
        <header>
            <div class="wrapper">
                <div class="head">
                    <a href="#" class="logo">Auctor</a>
                    <div class="lang">
                        <p class="lang-title">eng</p> <div class="lang-tr tr-not-active"></div>
                        <ul class="lang-change hide">
                            <li class="lang-selector hide">eng</li>
                            <li class="lang-selector">rus</li>
                            <li class="lang-selector">ua</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        

        <form action="">
            <p class="title res">Reset your password</p>
            <p class="sub-title">The following instructions will be sent on your email</p>
            <input type="text" placeholder="Email adress">
            <a href="#" class="button">Sign in</a>
            <p>Go back to <a href="index.html">Login page.</a></p>
        </form>
        
    
        <footer>    
            <div class="wrapper">
                <div class="ft">
                    <img src="img/com_logo.jpg" alt="Logo" width="250px">
                    <div class="srcs">
                        <a href="#">About us</a>
                        <a href="#">Contact us</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html>