<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auctor | Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    
    <div class="main">
        <header>
            <div class="wrapper">
                <div class="head">
                    <a href="#" class="logo">Auctor</a>
                    <nav class="lang">
                        <span class="lang-title"><span class="lang-title-text">eng</span><div class="lang-tr"></div></span>
                        <ul class="lang-list hide">
                            <li class="lang-list-item hide">eng</li>
                            <li class="lang-list-item">rus</li>
                            <li class="lang-list-item">ukr</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        

        <form th:action="@{/signUp}" th:object="${user}" method="POST">
            <p class="form-title">Start for free</p>
            <div th:each="error : ${errors}">
                <p class="error" th:text="${error.getDefaultMessage()}"></p>
            </div>
            <div class="inp">
                <input type="text" placeholder="Name" th:field="*{name}" class="input-mini">
                <input type="text" placeholder="Login" th:field="*{login}" class="input-mini">
            </div>
            <input type="text" placeholder="Email" th:field="*{email}">
            <input type="password" placeholder="Password" th:field="*{password}">
            <input type="submit" value="Create account" class="btn"/>
            <p>Already have an account? <a th:href="@{/signIn}">Sign in.</a></p>
        </form>
        
    
        <footer>
            <div class="wrapper">
                <div class="ft">
                    <img src="img/com_logo.jpg" alt="comm" width="300px">
                    <ul class="ft-links">
                        <li class="ft-links-item"><a href="#">About us</a></li>
                        <li class="ft-links-item"><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <div class="blocks">
        <div class="block1"></div>
        <div class="block2"></div>
    </div>

    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>