<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auctor | Sign In</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    
    <div class="main">
        <header>
            <div class="wrapper">
                <div class="head">
                    <a href="#" class="logo">Auctor</a>
                    <nav class="lang">
                        <span class="lang-title"><span class="lang-title-text">eng</span><div class="lang-tr"></div></span>
                        <ul class="lang-list hide">
                            <li class="lang-list-item hide">eng</li>
                            <li class="lang-list-item">rus</li>
                            <li class="lang-list-item">ukr</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>


        <form th:action="@{/signIn}" method="POST">
            <p class="form-title">Reset your password</p>
            <p class="error">Incorrect username or password.</p>
            <input type="text" name="username" id="username" placeholder="Login">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" value="Sign in" class="btn"/>
            <p>Don't have an account? <a th:href="@{/signUp}">Sign up.</a><br><a th:href="@{/resetPassword}" class="fg">Forgot password?</a></p>
        </form>
        
    
        <footer>
            <div class="wrapper">
                <div class="ft">
                    <img src="img/com_logo.jpg" alt="comm" width="300px">
                    <ul class="ft-links">
                        <li class="ft-links-item"><a href="#">About us</a></li>
                        <li class="ft-links-item"><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <div class="blocks">
        <div class="block1"></div>
        <div class="block2"></div>
    </div>

    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>